In [ ]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [4]:
#pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.7/385.7 kB 6.0 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp311-cp311-macosx_10_9_x86_64.whl size=133570 sha256=a61ba735013871edb5e51f745dfbc48f28510f3ff914035fe911f1b90ebd013a
  Stored in directory: /Users/avikumart/Library/Caches/pip/wheels/d9/83/60/e9660320860aef3c38a67dea6ff9538e4cad76502cb39ed280
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2
import csv

In [20]:
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="*******"
)

cur = conn.cursor()

In [21]:
print(cur)

<cursor object at 0x13e4ff100; closed: 0>

In [9]:
df = pd.read_csv("Methane_final.csv", index_col=0)
df.head()

,region,country,emissions,type,segment,reason,baseYear,notes
0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available

In [13]:
df["notes"] = df["notes"].map(lambda x: len(str(x)))

In [15]:
df.to_csv("methan_new.csv",index=False)

In [16]:
df.head()

,region,country,emissions,type,segment,reason,baseYear,notes
0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,1332
1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,185
2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,13
3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,13
4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,13

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1548 entries, 0 to 1547
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     1548 non-null   object
 1   country    1548 non-null   object
 2   emissions  1548 non-null   float64
 3   type       1548 non-null   object
 4   segment    1548 non-null   object
 5   reason     1548 non-null   object
 6   baseYear   1548 non-null   object
 7   notes      1548 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 108.8+ KB

In [22]:
with open('methan_new.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip the header row

    for row in reader:
        cur.execute(
            "INSERT INTO methen_table (region, country,emissions,type,segment,reason,baseYear,notes) values (%s,%s,%s,%s,%s,%s,%s,%s)" ,
            row
        )

# Commit the transaction
conn.commit()

# Close the connection
cur.close()
conn.close()